page-comida {
    .comida-contenido{
        display: flex;
        flex-direction: row;
        align-items: stretch;
        height: 100%;
        width: 100%;
    }
    .comida-division{
        display: flex;
        flex-direction: column;
        height: 50%;
        width: 100%;  
    }
    .boton-comidas{
        border-radius: 15px;
    }
}
