page-bebida {
    .bebida-contenido{
        display: flex;
        flex-direction: row;
        align-items: stretch;
        height: 100%;
        width: 100%;
    }
    .bebida-division{
        display: flex;
        flex-direction: column;
        height: 50%;
        width: 100%;  
    }
    .boton-bebidas{
        border-radius: 15px;
    }
}
