page-pizza{
    .pizza-contenido{
        display: flex;
        flex-direction: row;
        align-items: stretch;
        height: 100%;
        width: 100%;
    }
    .pizza-division{
        display: flex;
        flex-direction: column;
        height: 50%;
        width: 100%;  
    }
    .boton-pizza{
        border-radius: 15px;
    }
}