page-pedidos{
    .contenido{
         background-image: url('../../assets/img/comida-fresca-27987591.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        align-content: center;
    }
    .tablas{
        background-color: color($colors,"light");
        margin: 2em;
   }
    .title{
        color:color($colors,"primarytext");
        font-size: 1em;
        border:solid;
        border-color: color($colors,"dark");
    }
    .text{
        color:color($colors,"secondary");
        font-size:1em;
        border:solid;
        border-color:color($colors,"secondary");
        text-align: center;
    }
        
}