page-home {
   
}

h1{
    text-align: center;
    color: #FFFFFF;
   }
.contenido{
    background-image: url('http://www.winstonchurchills.com/imgs/inicio/lg/img-2.jpg');
    background-size: contain;
}
.titulo{
    background-color: #F27500;
    border-radius: 5px;
}

