page-home {
   .home-title{
    color: color($colors,"primarytext");
    font-family: freescript;
    font-size: 3em;
   }
    .contenido{
        background-image: url('../../assets/img/restaurantesdelmundo3_0.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;      
    }
    .titulo{
        background-color: color($colors,"light");
        border-radius: 5px; 
    }
}




