page-postre{
    
    .postre-contenido{
        display: flex;
        flex-direction: row;
        align-items: stretch;
        height: 100%;
        width: 100%;
    }
    .postre-division{
        display: flex;
        flex-direction: column;
        height: 50%;
        width: 100%;  
    }
    .boton-postres{
        border-radius: 15px;
    }

}